$dark-grey: #333;
$accent-color: #209DD9;

body {
  font-family: Arial;
  margin: 0;
  color: $dark-grey;
}

#header {
  background-color: $dark-grey;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;

  .author {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .logo {
    font-size: 2em;
  }

  .category-links {
    display: inline-block;
    li {
      display: inline
    }
    a {
      padding: 15px 10px 4px 10px;
      &:hover {
        border-bottom: 4px solid $accent-color;
      }
    }
  }
}

.product-module {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: 1px solid gray;

  .product-title {
    a {
      font-size: 1.5em;
      color: $dark-grey;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.product-details {
  .product-image {
    max-width: 300px;
    margin: 10px;
  }
  padding: 20px;
}

.thumbnail {
  max-width: 100px;
  margin: 10px;
}